
<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Bootstrap template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
   
   
   <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>   
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/> 

   
   
  
  </head>
  <body>
    <h1>Hello, world!</h1>
	
	
	<div class="container">
	
	<table class="table table-striped table-bordered table-hover" id="myData">
	  <thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Type</th>
			<th>Class</th>
			<th>Price</th>
		</tr>
	  </thead>

	  <tfoot>
	  <tr>
			<th>ID</th>
			<th>Name</th>
			<th>Type</th>
			<th>Class</th>
			<th>Price</th>
		</tr>
	  </tfoot>
	  
	  
	   <tbody>
	  
	   <tr>
			<td>123123</td>
			<td>DataTest</td>
			<td>Table HTML</td>
			<td>Bootstrap</td>
			<td>12355.00</td>
		</tr>
		<tr>	
			<td>123123</td>
			<td>DataTest</td>
			<td>Table HTML</td>
			<td>Bootstrap</td>
			<td>12355.00</td>
		</tr>
		<tr>	
			<td>123124 </td>
			<td>DataTest1</td>
			<td>Table HTML</td>
			<td>Bootstrap</td>
			<td>12355.00</td>
		</tr>
		<tr>	
			<td>123125</td>
			<td>DataTest2</td>
			<td>Table HTML</td>
			<td>Bootstrap</td>
			<td>12355.00</td>
			
		</tr>
	  
	  </tbody> 
	  
	</table>
	<div>
	   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    <script  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	
	<script>
	   $('#myData').dataTable();
	</script>
	
  </body>
</html>



 
