<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>My First Page Spring</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
  <form th:action="@{index}" method="get">
  	<label>Chercher:</label>
  	<input type="text" name="motCle" th:value="${mc}" />
  	<button class="btn btn-primary">Chercher</button>
  	 
  </form>
</div>

<div class="container">
<h3>Table des produits</h3>
<table id="dtBasicExample" class="table" cellspacing="0" width="100%">
 <thead>
 <tr>
  <th>ID</th>
  <th>Designation</th>
  <th>Prix</th>
  <th>Qte</th>
 </tr>   
</thead>

<tbody>
<tr th:each="p:${listProduit}">
  <td th:text="${p.id}"></td>
  <td th:text="${p.designation}"></td>
  <td th:text="${p.prix}"></td>
  <td th:text="${p.qte}"></td>
  <td><a th:href="@{delete(id=${p.id} ,page=${pageActuel} ,size=${size}, motCle=${mc})}">Delete</a></td>
</tr>
</tbody>
</table>
</div>

<div class="container">
<ul class="nav nav-pills">
  <li th:class="${pageActuel} == ${status.index}?'active':''" th:each="pg, status:${nbPages}" >
  	<a th:href="@{index(page=${status.index}, size=${size}, motCle=${mc})}" th:text="${status.index}"></a>
  </li>
</ul>
</div>


</body>
</html>