<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Gestion produit</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
   <h3>Test Spring</h3>
  <table class="table">
	   <thead>
			     <tr>
			       <th>ID</th>
			       <th>Designation</th>
			       <th>Prix</th>
			       <th>Quantité</th>
			     </tr>
	   </thead>  
	   
	    <tbody>
			     <tr th:each="p:${listProduit}">  
			       <td th:text="${p.id}"></td>
			       <td th:text="${p.designation}"></td>
			       <td th:text="${p.prix}"></td>
			       <td th:text="${p.qte}"></td>
			     </tr>
	    </tbody>
  </table>
</body>
</html>